@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

/* #region - Typography -  */
* {
  font-family: "Source Sans Pro", sans-serif;
}

body {
  @apply text-base md:text-lg;
}

h1 {
  @apply tracking-normal leading-normal font-bold  text-5xl md:text-6xl;
}

h2 {
  @apply text-4xl md:text-5xl font-semibold tracking-tight;
}

h3 {
  @apply text-2xl md:text-3xl font-semibold tracking-tight;
}

.category {
  @apply rounded-full bg-gray-300 text-base px-3 py-1 w-fit;
}

.logo {
  @apply hover:shadow px-2.5 py-1.5 rounded-3xl;
}

.nav-item {
  @apply w-fit hover:text-accent font-medium capitalize inline-flex items-center focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-accent-light;
}

.transition-animate {
  transition: all ease 0.3s;
}

.nav-animated {
  text-decoration: none;
  background: linear-gradient(#b50102, #b50102) bottom / 0 0.1em no-repeat;
  transition: 0.2s background-size;
}

.nav-animated:hover {
  background-size: 100% 0.1em;
}

/* #endregion - Typography -  */

.btn {
  @apply w-fit flex items-center shadow-sm font-medium focus:outline-none focus:ring-2 focus:ring-offset-2 cursor-pointer px-6 py-2 rounded-lg;
  transition: all ease 0.3s;
}

.btn-accent {
  @apply text-white bg-black hover:bg-accent;
}

.btn-accent-light {
  @apply bg-accent-light hover:bg-accent hover:text-white;
}

/* #CONTENT SECTION - */
.content-section div {
  @apply mb-10;
}

.content-section h1 {
  @apply mb-4;
}
.content-section h2 {
  @apply mb-4;
}
.content-section h3 {
  @apply mb-4;
}

.content-section p {
  @apply mb-4;
}

.content-section a:not(.btn) {
  @apply mb-4 underline text-accent !important;
}
.content-section ul:not(.unstyled) {
  @apply mb-6 space-y-4;
}
.content-section ul:not(.unstyled) li {
  @apply list-disc ml-4;
}
